.header {
    background-color: var(--dark);
    font-family: var(--second-family);
    font-size: 20px;
    font-weight: 900;
    padding: 6px 0 7px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--light);
    gap: 20px;
}

.header__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    max-width: 275px;
}

.header__burger-icon {
    display: flex;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 2;
    transition: all .4s;
}

.header__burger-icon span::after,
.header__burger-icon span::before,
.header__burger-icon span {
    display: block;
    width: 30px;
    height: 3px;
    border-radius: 100px;
    background-color: var(--light);
    flex-shrink: 0;
    transition: all .4s;
}

.header__burger-icon:hover span::after,
.header__burger-icon:hover span::before,
.header__burger-icon:hover span {
    background-color: var(--accent);
}

.header__burger-icon span {
    position: relative;
}

.header__burger-icon span::after,
.header__burger-icon span::before {
    content: '';
    position: absolute;
}

.header__burger-icon span::after {
    top: -10px;
}

.header__burger-icon span::before {
    top: 10px;
}

.body--opened-menu .header__burger-icon span {
    transform: rotate(45deg);
}

.body--opened-menu .header__burger-icon span::after {
    top: 0px;
    transform: rotate(90deg);
}

.body--opened-menu .header__burger-icon span::before {
    display: none;
}

.header__logo img {
    width: 100%;
}

.nav {
    flex-grow: 1;
    max-width: 920px;
    transition: all .4s;
}

.body--opened-menu .nav {
    visibility: visible;
    opacity: 1;
    transform: translateX(0%);
}

.nav__list {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.nav__item {
    padding: 5px 0;
    transition: all .4s;
}

.nav__item:hover {
    color: var(--accent);
}

.header__cart {
    cursor: pointer;
}

.header__cart path {
    transition: all .4s;
}

.header__cart:hover path {
    stroke: var(--accent);
}