:root {
    --accent: #ffa55c;
    --accent-2: #ceaad0;
    --background-accent: #ffe0cb;
    --background: #fff9f4;
    --title: #1f1711;
    --text: #312c27;
    --accent-icon: #704174;
    --disabled: #e1d9e1;
    --font-family: "Montserrat", sans-serif;
    --second-family: "Gabriola", sans-serif;
}

.body {
    font-family: var(--font-family);
    background-color: var(--background);
    color: var(--text);
    line-height: 1.5;
}

.body--opened-menu {
    overflow: hidden;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}

.container {
    max-width: 1310px;
    padding: 0 15px;
    width: 100%;
    margin: 0 auto;
    height: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 62px;
    border-radius: 60px;
    padding: 3px 15px;
    background-color: var(--accent);
    line-height: 160%;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    transition: background-color, 0.4s;
}

.button:hover {
    background-color: #ff9138;
}

/* ===================================================== */

.header {
    background: url('../img/decor/header-background.png') no-repeat;
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 100%;
}

.header__top {
    padding-top: 19px;
}

.header__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.header__top-logo {
    max-width: 174px;
    z-index: 2;
}

.header__top-logo img {
    width: 100%;
}

.nav {
    transition: all .4s;
}

.nav__list {
    display: flex;
    gap: 4vh 40px;
}

.nav__link {
    display: block;
    padding: 5px 0;
    position: relative;
    z-index: 1;
}

.nav__link::before {
    content: '';
    display: block;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: var(--accent);
    position: absolute;
    bottom: 5px;
    left: -15px;
    z-index: -1;
    opacity: 0;
    transition: opacity .4s;
}

.nav__link:hover::before {
    opacity: 1;
}

.burger-icon {
    display: none;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: .3rem;
    border-radius: 10px;
    background-color: var(--accent);
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.08);
    z-index: 2;
}

.burger-icon span::after,
.burger-icon span::before,
.burger-icon span {
    display: block;
    width: 30px;
    height: 3px;
    border-radius: 100px;
    background-color: var(--background-accent);
    flex-shrink: 0;
    transition: all .4s;
}

.burger-icon span {
    position: relative;
}

.burger-icon span::after,
.burger-icon span::before {
    content: '';
    position: absolute;
}

.burger-icon span::after {
    top: -6px;
}

.burger-icon span::before {
    top: 6px;
}

.body--opened-menu .burger-icon span {
    transform: rotate(45deg);
}

.body--opened-menu .burger-icon span::after {
    top: 0px;
    transform: rotate(90deg);
}

.body--opened-menu .burger-icon span::before {
    display: none;
}

/* ================================================ */

.hero {
    padding-top: 50px;
    padding-bottom: 140px;
}

.hero__inner {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 30px;
}

.hero__info {
    color: #b197b2;
    display: flex;
    align-items: center;
    gap: 10px;
    text-transform: uppercase;
}

.hero__title {
    font-size: 74px;
    line-height: 82%;
    font-family: var(--second-family);
    max-width: 519px;
    margin-top: 20px;
}

.hero__text {
    max-width: 358px;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 40px;
}

.hero__button {
    max-width: 358px;
    width: 100%;
}

.hero__img {
    position: relative;
    margin-right: 247px;
}

.hero__img-control {
    position: absolute;
    right: -44.24%;
    bottom: 11.24%;
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: 200px;
}

.hero__img-button {
    height: 78px;
    width: 78px;
    flex-shrink: 0;
    background-color: var(--background-accent);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.08);
    transition: outline .4s;
    outline-offset: -5px;
    outline: #ffa55c00 solid 1px;
    padding-left: 1.7%;
}

.hero__img-button:hover {
    outline: #ffa55c solid 1px;
}

/* ========================================= */

.footer {
    background-color: #ab8261;
    color: var(--background);
    min-height: 253px;
    padding-top: 30px;
}

.footer__inner {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 56px;
}

.footer__col {
    max-width: 272px;
    width: 100%;
}

.footer__logo {}

.footer__logo-caption {
    display: block;
    margin-bottom: 20px;
}

.socials__list {
    display: flex;
    gap: 15px;
}

.social__link path{
    transition: fill .4s;
}
.social__link:hover path{
    fill: var(--accent);
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.nav {}

.nav__list {}

.nav__list--footer {
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.nav__item {}

.nav__link {}

.footer__info img {
    margin-right: 8px;
}

.footer__info-item:first-child {
    text-transform: uppercase;
    margin-bottom: 10px;
}

.footer__info-item:first-child span {
    margin-right: 10px;
}

.footer__consult {
    display: flex;
    flex-direction: column;
    position: relative;
}

.footer__consult a {
    font-size: 24px;
    font-weight: 500;
    line-height: 160%;
    transition: color .4s;
}

.footer__consult a:hover {
    color: var(--accent);
}

.footer__consult-caption {
    justify-self: flex-end;
    color: #dec5b1;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

/* ========================================= */

@media (max-width: 1200px) {
    .hero__img {
        margin-right: 0;
    }

    .hero__img-control {
        right: unset;
        bottom: unset;
        gap: 10px 10px;
        padding-top: 10px;
        max-width: 100%;
    }
    /* ============================== */
    .footer {
        text-align: center;
        padding: 30px 50px;
    }

    .footer__inner {
        flex-wrap: wrap;
        flex-direction: column;
    }
    .socials__list {
        justify-content: center;
    }

    .footer__wrapper {
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 30px;
        align-items: center;
        position: relative;
    }

    .footer__consult {
        height: 100%;
        position: unset;
    }
}

@media (max-width: 900px) {
    .header .nav {
        position: fixed;
        inset: 0;
        z-index: 1;
        background: var(--background);
        padding-top: 20vh;
        font-size: 24px;
        transform: translateY(-100%);
        opacity: 0;
        visibility: hidden;
    }

    .header .nav__list {
        flex-direction: column;
        align-items: center;
    }

    .body--opened-menu .nav {
        transform: translateY(0%);
        opacity: 1;
        visibility: visible;
    }

    .burger-icon {
        display: flex;
    }

    .hero__inner {
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .hero__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 20px;
    }

    .hero__title {
        max-width: 70vw;
    }

    .hero__text {
        max-width: 70vw;
    }
    /* ============================== */

    .footer__wrapper {
        flex-direction: column;
    }

    .footer__consult-caption {
        position: unset;
    }
}

@media (max-width: 600px) {
    .hero__title {
        font-size: 12vw;
    }

    .hero__text {
        font-size: 4vw;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .hero__img {
        max-width: 100vw;
        background: url('../img/content/header-girl.png') no-repeat;
        background-position-x: center;
    }

    .hero__img img {
        opacity: 0;
    }

    .hero__img-control {
        padding: 20px 30px 0 30px;
        justify-content: center;
        position: unset;
        margin: 0 auto;
    }
    /* ============================== */

    .footer {
        padding: 15px 10px;
    }

    .footer__logo-caption {
        display: none;
    }

}
