.header {
    background: url('../img/decor/header-background.png') no-repeat;
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 100%;
}

.header__top {
    padding-top: 19px;
}

.header__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.header__top-logo {
    max-width: 174px;
    z-index: 2;
}

.header__top-logo img {
    width: 100%;
}

.nav {
    transition: all .4s;
}

.nav__list {
    display: flex;
    gap: 4vh 40px;
}

.nav__link {
    display: block;
    padding: 5px 0;
    position: relative;
    z-index: 1;
}

.nav__link::before {
    content: '';
    display: block;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: var(--accent);
    position: absolute;
    bottom: 5px;
    left: -15px;
    z-index: -1;
    opacity: 0;
    transition: opacity .4s;
}

.nav__link:hover::before {
    opacity: 1;
}

.burger-icon {
    display: none;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: .3rem;
    border-radius: 10px;
    background-color: var(--accent);
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.08);
    z-index: 2;
}

.burger-icon span::after,
.burger-icon span::before,
.burger-icon span {
    display: block;
    width: 30px;
    height: 3px;
    border-radius: 100px;
    background-color: var(--background-accent);
    flex-shrink: 0;
    transition: all .4s;
}

.burger-icon span {
    position: relative;
}

.burger-icon span::after,
.burger-icon span::before {
    content: '';
    position: absolute;
}

.burger-icon span::after {
    top: -6px;
}

.burger-icon span::before {
    top: 6px;
}

.body--opened-menu .burger-icon span {
    transform: rotate(45deg);
}

.body--opened-menu .burger-icon span::after {
    top: 0px;
    transform: rotate(90deg);
}

.body--opened-menu .burger-icon span::before {
    display: none;
}

/* ================================================ */

.header__hero {
    padding-top: 50px;
    padding-bottom: 140px;
}

.hero__inner {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 30px;
}

.hero__info {
    color: #b197b2;
    display: flex;
    align-items: center;
    gap: 10px;
    text-transform: uppercase;
}

.hero__title {
    max-width: 519px;
    margin-top: 20px;
}

.hero__text {
    max-width: 358px;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 40px;
}

.hero__button {
    max-width: 358px;
    width: 100%;
}

.hero__img {
    position: relative;
    margin-right: 247px;
}

.hero__img-control {
    position: absolute;
    right: -44.24%;
    bottom: 11.24%;
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: 200px;
}

.hero__img-button {
    height: 78px;
    width: 78px;
    flex-shrink: 0;
    background-color: var(--background-accent);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.08);
    transition: outline .4s;
    outline-offset: -5px;
    outline: #ffa55c00 solid 1px;
    padding-left: 1.7%;
}

.hero__img-button:hover {
    outline: #ffa55c solid 1px;
}